body  {
	color: #4a4a4a;
	font-family: "Helvetica", sans-serif;
  	background: #f5f5f5;
}

h1, h2, h3, h4 {
	color: #406569;
}

#container {
	width: 760px;
	margin: 40px auto 60px;
}

a:link {
	color: #72a1a6;
	text-decoration: none;
}

a:visited {
	color: #72a1a6;
	text-decoration: none;
}

a:hover {
	color: #4a4a4a;
	text-decoration: underline;
}

a:active: {
	color: #4a4a4a;
	text-decoration: underline;
}

#photo {
	height: 175px;
	width: 175px;
	float: right;
	margin: 2px 10px 10px 25px;
	padding: 2px;
	border: 6px;
	border-style: solid;
	border-color: #406569;
}

.img-circle {
	border-radius: 50%;
}

#social {
	height: 25%;
	width: 25%;
	display: inline;
}
