body  {
	color: #4a4a4a;
	font-family: helvetica;
  	background: #f5f5f5;
}

#container {
	width: 800px;
	margin: 40px auto 60px;
}

a:link {
	color: #72a1a6;
	text-decoration: none;
}

a:visited {
	color: #72a1a6;
	text-decoration: none;
}

a:hover {
	color: #4a4a4a;
	text-decoration: underline;
}

a:active: {
	color: #4a4a4a;
	text-decoration: underline;
}

#photo {
	height: 50px;
	width: 50px;
}
